@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);

}

.modal-box{
    background-color: white;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    position: relative;

}